/* Начало общих стилей */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #CFD0CF;
    height: 100%;
}

/* Конец общих стилей */

/* Начало стилей заголовка */
.title {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 42px;
    color: #434344;
    line-height: 47px;
    margin: 40px auto 27.5px;
    width: 580px;
    text-align: center;
}

/* Конец стилей заголовка */
/* Начало стилей карточек */
.wrapper {
    margin: 0 auto;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
}

.card_block {
    cursor: pointer;
    perspective: 600px;
    margin: 12.5px;
}

.card_block__card {
    transform-style: preserve-3d;
    width: 120px;
    height: 120px;
    transition: all 0.5s ease;
}

.side {
    box-sizing: border-box;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
/* Рубашка */
.card_block__card--back {
    background: linear-gradient(45deg, #22AB93, #19668D );
    position: relative;
    border: 5px solid white;
}
.card_block__card--back:hover {
    opacity: 0.85;
}

/* Лицевая сторона */
.card_block__card--front {
    background: white;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip {
    transform: rotateY(180deg);
}

.keep_flipped {
    transform: rotateY(180deg);
}

.clickoff {
    pointer-events: none;
}

.matched {
    background: #5AD66F;
}

.not_matched {
    background: #F44336;
}
/* Конец стилей карточек */