/* Начало общих стилей */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #CFD0CF;
    color: #434344;
    font: 100%/1.5em 'Arial', sans-serif;
}

/* Конец общих стилей */

/* Начало стилей заголовка */
.title {
    margin: 0;
    font-size: 2em;
    line-height: 47px;
    margin: 2% auto; 
    text-align: center;
}

/* Конец стилей заголовка */
/* Начало стилей карточек */
.wrapper {
    margin: 0 auto;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.card_block {
    cursor: pointer;
    perspective: 600px;
    margin: 2%;
}

.card_block__card {
    transform-style: preserve-3d;
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease;
}

.side {
    box-sizing: border-box;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
/* Рубашка */
.card_block__card--back {
    background: linear-gradient(45deg, #22AB93, #19668D );
    position: relative;
    border: 5px solid white;
}
.card_block__card--back:hover {
    opacity: 0.85;
}

/* Лицевая сторона */
.card_block__card--front {
    background: white;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip {
    transform: rotateY(180deg);
}

.keep_flipped {
    transform: rotateY(180deg);
}

.clickoff {
    pointer-events: none;
}

.matched {
    background: #5AD66F;
}

.not_matched {
    background: #F44336;
}
/* Конец стилей карточек */
/* Начало стилей таймера */
#timer {
    text-align: center;
    width: 580px;
    margin: 0 auto;
}
#timer p {
    line-height: 36px;
    font-size: 32px;
    display: inline;
    font-weight: bold;
}
/* Конец стилей таймера */
/* Начало стилей для модального окна */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.hide {
    display: none;
}
.window {
    text-align: center;
    width: 400px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.window  h2 {
    margin-top: 30px;
    font-size: 48px;
}
.window div {
    margin-top: 40px;
    margin-bottom: 30px;
}
.window button {
    height: 40px;
    font-size: 20px;
    background: linear-gradient(90deg, #22AB93, #19668D );
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5); 
    border: none;
}
.window button:active {
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5); 
}
.window div button {
    padding: 0 30px;
    color: white; 
}
.window h2 span {
    position: relative;
    top: 10px;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
   }
.window .lose span:nth-child(2) {
    animation-delay: .1s;
}
.window .lose span:nth-child(3) {
    animation-delay: .2s;
}
.window .lose span:nth-child(4) {
    animation-delay: .3s;
}

.window .win span:nth-child(2) {
    animation-delay: .1s;
}
.window .win span:nth-child(3) {
    animation-delay: .2s;
}
   /* ANIMATION */
@keyframes bounce {
    100% {
    top: -10px;
    }
}
/* Конец стилей для модального окна */
@media (max-width: 670px) {
    .wrapper {
        width: 90vw;
        height: 90vw;
        justify-content: center;
    }
    .card_block__card {
        width: 18vw;
        height: 18vw;
    }
    #timer {
        width: 50%;
        margin: 0 auto;

    }
    .card_block__card--front {
        font-size: 10vw;
    }
    .window {
        width: 100%;
    }
}